# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# ============ #
# OS generated #
# ============ #
.DS_Store
Thumbs.db

# ================= #
# Git LFS example:  #
# ================= #
# *.psd filter=lfs diff=lfs merge=lfs -text
